dataset
html2text
playwright
readability-lxml
pydantic
httpx
imagehash
robotexclusionrulesparser
playwright-stealth
pydantic-settings
pydantic-settings
stable-baselines3
gymnasium
openai
instructor

# Development dependencies
pre-commit==3.7.0
black==24.4.2
isort==5.13.2
flake8==7.0.0
pytest==8.2.2
pytest-asyncio==0.23.7
